@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@500&display=swap');

/* font-family: 'Nanum Myeongjo', serif;
font-family: 'Noto Sans KR', sans-serif; */
/* reset */
body{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0; color:#333;}
a{text-decoration:none;color:inherit}
h1,h2,h3,h4,h5,h6{margin: 0;}
ol,ul{list-style:none; margin: 0; padding: 0;}
img{vertical-align:top; width: 100%;}

/* commone */
#container{position: relative;}
.inner{width: 1200px; margin: 0 auto;}


.pf_txt{
  position:absolute;
  top:50%; left:-5%;
  transform:translate(-5%,-50%) rotate(-90deg);
  font-size:120px; opacity:0;
  color:orange;
  animation:txt 2s 2 2s  forwards;
}
@keyframes txt{
  0%{opacity:0;}
  100%{opacity:1;}
}



.me_2D_inner{
  position:relative;
  text-align:center;
}
.me_2D_inner h1{margin-top:30px;}

.animation{
  border: 1px solid #000;
}



.meImg{
  position: relative;
  display: flex; justify-content:center;
  width:100%; height:550px; margin:50px auto 0 auto;
}
.meImg a{
  display: block;
  width:1000px; height: 100%;
}

.sub{}
.sub a{
  position:absolute;
  bottom:0; left: 50%;z-index:-1;
  transform:translateX(-50%);
  display: block;
  width:900px; opacity:0;
  animation:sub 2s 1 forwards;
}
@keyframes sub{
  0%{bottom:0; opacity:0;}
  100%{bottom:35%; opacity:1;}
}
.project{
  margin-top: 50px;
}
.project_inner{
  display: flex;
  justify-content:space-evenly;
  text-align: center;
  border-top: 1px solid #999;
  padding-top: 50px; box-sizing:border-box;
}

.jml{}
.jml h2{
  width: 500px;
  padding-bottom: 5px; box-sizing:border-box;
  border-bottom:2px solid #666;
  color:#000;
  font-family: 'Nanum Myeongjo', serif; font-size:40px;}
.jml li{
  border: 1px solid #bbb;
  margin-top: 10px;}
.jml li a{
  display: block;
  font-size: 20px;}
.jml li:hover{color:orangered; border: 1px solid orangered;}
.mx{}
.mx h2{
  width:300px;
  padding-bottom: 5px; box-sizing:border-box;
  border-bottom:2px solid #666;
  color:#000;
  font-family: 'Nanum Myeongjo', serif; font-size: 40px;}
.mx li{
  border: 1px solid #bbb;
  margin-top: 10px;}
.mx li a{
  display: block;
  font-size: 20px;}
.mx li:hover{color:orangered; border: 1px solid orangered;}

/* 컨셉서 */
/* 조말론 */
.jmlCon{
  display: none;
  position:fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,.6);
}
.jmlCon_slideWrap{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height:80%;width:100%;
  overflow:hidden;
}
.jmlCon_slide{
  position:absolute;
  top: 50%;left: 0;
  transform:translate(-100px,-50%);
  display: flex;
  width: 330%; height:1500px;
}
.jmlCon_slide a{
  display: block;
  width:100%;
  transform:scale(.6);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.jmlCon_slide a:first-child{
background-image:url(../images/concept/jml/1.png);
}
.jmlCon_slide a:nth-child(2){background-image:url(../images/concept/jml/2.png);}
.jmlCon_slide a:last-child{background-image:url(../images/concept/jml/3.png);}

.jml_allow{
  position:absolute;
  width: 100%;
  top: 50%; transform:translateY(-50%);
  display: flex; justify-content: space-between;
}
.jml_allow a{font-size: 70px; color:#ddd;}

.closeBtn{
  position:absolute;
  z-index:10;
  right:10%;
  width: 50px; height: 50px;
}
.closeBtn span{
  position: relative;
  top: 50%; transform: translateY(-50%);
  display: block;
  width: 100%; height: 2px;
  background-color: #fff;
}
.closeBtn span:first-child{transform:rotate(-45deg);}
.closeBtn span:last-child{transform:rotate(45deg);}

/* mx */
.mxcon{
  display: none;
  position:fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,.6);
}
.mxslideWrap{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height:80%;width:100%;
  overflow:hidden;
}
.mxSlide{
  position:absolute;
  top: 50%;left: 0;
  transform:translate(-100px,-50%);
  display: flex;
  width:220%; height:1600px;
}
.mxSlide a{
  display: block;
  width:100%;
  transform:scale(.6);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
.mxSlide a:first-child{background-image:url(../images/concept/mx/1.png);}
.mxSlide a:last-child{background-image:url(../images/concept/mx/2.png);}

.mx_allow{
  position:absolute;
  width: 100%;
  top: 50%; transform:translateY(-50%);
  display: flex; justify-content:space-between;
}
.mx_allow a{font-size: 70px; color:#ddd;}

.mxcloseBtn{
  position:absolute;
  z-index:10;
  right:8%; top:0;
  width: 50px; height: 50px;
}
.mxcloseBtn span{
  position: relative;
  top: 50%; transform: translateY(-50%);
  display: block;
  width: 100%; height: 2px;
  background-color: #fff;
}
.mxcloseBtn span:first-child{transform:rotate(-45deg);}
.mxcloseBtn span:last-child{transform:rotate(45deg);}