@charset "UTF-8";
/* reset */
body{margin: 0; color:#333}
a{text-decoration:none; color:inherit}
h1,h2,h3,h4,h5,h6{margin: 0;}
ol,ul{list-style:none;padding: 0;margin: 0;}
.inner{width: 1180px; margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.486);}


#container{}

header{background-color:lightcoral;}
  .header_inner{
    position: relative;
    display:flex;
    justify-content:space-between;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .header_inner>div,ul{margin: 1%;}
  .logo{
    width: 300px; height: 50px;
    background-color: rgb(95, 214, 223);
  }
  .gnb{
    display:flex;
    justify-content: space-between;
    flex:3;
    background-color: rgb(210, 156, 235);
  }
  .gnb>li{display:none; padding: 10px 20px; box-sizing: border-box;}

  .mob_icon{
    display:none;
    position:absolute; z-index: 5;
    right: 30px; top: 30px;
    width: 30px; height: 20px;
    box-sizing: border-box;
  }
  .mob_icon>span{
    position:absolute;
    left:0; width: 100%; height: 2px;
    background-color: #000;
  }
  .mob_icon>span:nth-child(1){top:0;}
  .mob_icon>span:nth-child(2){top: 50%;}
  .mob_icon>span:nth-child(3){top: 100%;}


.main{background-color: lightgreen;}
  .slideWrap{}
  .slides{}
  .slides a{}
  .main_inner{height: 400px;}

section{background-color:lightpink;}
  h2{font-size: 0; text-indent:-9999px; overflow:hidden;}
  .sec_inner{
    display:flex; height: 300px;
  }
  .sec_inner>div{
    margin: 1%; width: 23%;
    border: 1px solid #000;
    box-sizing: border-box;
  }

footer{background-color:royalblue;}
  .ft_inner{
    display:flex;
    justify-content:space-between;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  .ft_inner>div{margin: 1%;}
  .ft_logo{
    width:200px; height: 50px;
    background-color: rgb(209, 114, 130);
  }
  .ft_conts{
    flex:3; height: 50px;
    background-color: rgb(117, 228, 132);
  }

  @media (max-width:1180px){
    .inner{width: 90%;}
  }
  @media (max-width:768px){
    .inner{width: 100%;}
    .header_inner{
      display:block;
      padding: 10px 20px;
      box-sizing: border-box;
    }
    .gnb{
      margin-top: 20px;
      font-size: 0;
    }
    .gnb>li{display:block; font-size: 16px;}
    .sec_inner{flex-wrap:wrap;}
    .sec_inner>div{
      margin: 1%; width: 48%;
      border: 1px solid #000;
      box-sizing: border-box;
    }
    .box1,.box3{display:none;}
    .ft_inner{
      display:block;
      padding: 10px 20px;
      box-sizing: border-box;
    }
    .ft_conts{margin-top: 20px;}
  }
  @media (max-width:486px){
    .mob_icon{display:block;}
    .gnb{
      display:none;
      position:absolute;
      top: 50px; left:-5px; width: 100%;
      background-color: #fff;
    }
    .gnb.on{
      display:block;
      display:flex;
      flex-wrap:wrap;
      padding-bottom: 50px;
    }
    .gnb.on>li{
      width: 98%;margin: 1%;
      border: 1px solid #000;
      box-sizing: border-box;
    }
    .sec_inner{height: auto;}
    .sec_inner>div{ margin: 1%; width: 98%; height: 200px;}
    .box1,.box3{display:block;}
    .ft_conts{display:none;}
  }