@charset "UTF-8";

@import url("https://use.typekit.net/wrk4izk.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/*
font-family: cooper-black-std, serif;
font-family: 'Noto Sans KR', sans-serif;
*/
/* reset */
body{margin:175px 0 0 0; background-color: #fff; color:#000;}
a{text-decoration:none; color:inherit}
h1,h2,h3,h4,h5,h6{margin: 0;}
ol,ul{list-style: none; padding: 0;margin: 0;}
img{width: 100%; vertical-align:top;}
/* commone */
#containner{
  position: relative; min-width:1200px;
}
.inner{width: 1200px; margin: 0 auto;}
.bigTitle{
  margin-bottom: 50px;
  font-family: cooper-black-std, serif; font-size: 40px; text-align:center;}
/* layout */
header{
  position:fixed; z-index:5;
  top: 0; left: 0;
  width: 100%;
  background-color: #fff;
}
.hbgc{background-color: #f1d4d4;}
.logo{
  padding:20px 0; box-sizing:border-box;
}
.logo a{
  display: block;
  width:200px; height:90px;
  margin: 0 auto;
  background:url(../img/logo/boram_logo.png) no-repeat center;
  background-size:contain;
}

nav{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:bold;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #D8D5D5;
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.gnb{
  display: flex; justify-content:center;
  align-items: center;
}
.gnb>li{
  padding:10px 0; margin-left:50px;
  box-sizing:border-box;
}
.gnb>li:first-child{margin-left: 0;}
.gnb>li>a{
  position: relative;
  display: block;
}
.gnb>li.on{color:#FC6D6D}

.conts{
  border: 1px solid red;
  }
.about{
  font-family: 'Noto Sans KR', sans-serif;
  padding-top: 100px;
  padding-bottom: 150px;
  box-sizing:border-box;
  border-bottom:1px solid rgb(182, 182, 182);
}
.about_inner{
  margin: 0 auto;
}
/* .about_inner>.bigTitle{margin-top:100px;} */
.meWrap{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 0 120px; box-sizing:border-box;
  margin-top: 50px;
  height:400px;
}

.me a{
  display: block;
  width: 250px; height: 330px;
  background-image:url(../img/me/KakaoTalk_20210928_105755995_01.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;
  border:2px solid #eee;
}

.metxt{
  line-height:1.7;
  font-size:17px;
  font-weight:normal;
}
.me2txt{
  display: none;
  text-align: center;
  line-height:1.7;
  font-size:17px;
  font-weight:normal;
}
.me2txt p:first-child{font-size: 20px;}
.me2txt p:last-child{font-size:16px; font-weight:bold;}

.Ability_title{
  margin-top: 50px; font-size: 25px;
  padding-left: 120px; box-sizing:border-box;
}
.abilityWrap{
  display: flex;
  justify-content:space-between;
  margin-top:50px;
  padding: 0 120px; box-sizing:border-box;
  color:#555
}
.abilityInfor span{font-size: 20px;}
.abilityInfor>div{margin-top:20px;}

.abilityInfor:nth-of-type(2){
  position: relative;}
.abilityInfor:nth-of-type(2)::before{
  position:absolute;
  left:-80px;
  display: block;
  content:'';
  width: 1px; height:250px;
  background-color: rgb(218, 217, 217);
}
.abilityInfor:nth-of-type(2)::after{
  position:absolute;
  right:-80px; top: 0;
  display: block;
  content:'';
  width: 1px; height:250px;
  background-color: rgb(218, 217, 217);
}

.inforImg{width:250px;}

/* PROJECT */
.project{
  padding: 100px 0; 
  box-sizing:border-box;
  border-bottom:1px solid rgb(182, 182, 182);
}
.project_inner{padding: 0 20px; box-sizing:border-box;}
.Infor{
  display: flex;
  align-items:center;
  justify-content: space-around;
}
.Infor>a{
  display: block;
  width:700px; height:600px;
  background:url(../img/jml_cont/jml.png) no-repeat center;
  background-size:contain;
}

.inforBtn a{
  display:inline-block;
  text-align: center;
  width:150px; height: 30px; line-height:30px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  border: 2px solid #000;
}
.inforBtn a:hover{border: 2px solid #FC6D6D; color:#FC6D6D;}
.jmlContwrap{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  padding-bottom: 80px; box-sizing:border-box;
}
.jmlContwrap>span{
  font-family: cooper-black-std, serif;
  display: block;
  width: 200px;
  margin-bottom:20px;
  border-bottom:3px solid #F3A993;
}
.jmlContwrap>p{font-size:15px; margin-bottom:80px; line-height:2;}
.none{display: none;}
.jmlCont{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:80px;
}
.jmlCont>p{font-size:17px; line-height:2;}
.jmlCont>a{
  display: block;
  width:550px; height:200px;
  background:url(../img/jml_cont/conts1.png) no-repeat center;
  background-size:contain;
}
.img{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  width:150px; height:10px;
}
.jmlCont2{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:80px;
}
.jmlCont2>p{font-size:17px; line-height:2;}
.jmlCont2>a{
  display: block;
  width:600px; height:300px;
  background:url(../img/jml_cont/conts2.png) no-repeat center;
  background-size:contain;
}
.img2{
  position:absolute;
  left:50%; top: 20%;
  transform:translateX(-50%);
  width:150px; height:10px;
}
.jmlCont3{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:50px; box-sizing:border-box;
  border-bottom:1px solid rgb(182, 182, 182);
}
.jmlCont3>p{font-size:17px; line-height:2;}
.jmlCont3>a{
  display: block;
  width:600px; height:300px;
  background:url(../img/jml_cont/conts3.png) no-repeat center;
  background-size:contain;
}
.img3{
  position:absolute;
  left:45%; top:35%;
  transform:translateX(-45%);
  width:150px; height:10px;
}
/* MX */
.Infor2{
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  margin-bottom: 50px;
}
.Infor2>a{
  display: block;
  width:700px; height:600px;
  background:url(../img/mx_cont/mx.png) no-repeat center;
  background-size:contain;
}

.inforBtn2 a{
  display:inline-block;
  text-align: center;
  width:150px; height: 30px; line-height:30px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  border: 2px solid #000;
}
.inforBtn2 a:hover{border: 2px solid #FC6D6D; color:#FC6D6D;}

.mxContwrap{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
}
.mxContwrap>span{
  font-family: cooper-black-std, serif;
  display: block;
  width: 200px;
  transform:translateX(1000px); 
  margin-bottom:20px;
  text-align:right;
  border-bottom:3px solid #F3A993;
}
.mxContwrap>p{text-align:right; font-size:15px; margin-bottom:80px; line-height:2;}
.W486{display: none;}
.mxCont1{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 80px; box-sizing:border-box;
}
.mxCont1>p{font-size:17px; line-height:2;}
.mxCont1>a{
  display: block;
  width:600px; height:300px;
  background:url(../img/mx_cont/conts7.png) no-repeat center;
  background-size:contain;
}
.mximg1{
  position:absolute;
  left:55%; top:40%;
  transform:translateX(-55%);
  width:150px; height:10px;
}
.mxCont2{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 80px; box-sizing:border-box;
}
.mxCont2>p{font-size:17px; line-height:2;}
.mxCont2>a{
  display: block;
  width:500px; height:300px;
  background:url(../img/mx_cont/conts6.png) no-repeat center;
  background-size:contain;
}
.mximg2{
  position:absolute;
  left:50%; top:36%;
  transform:translateX(-50%);
  width:150px; height:10px;
}

.mxCont3{
  position: relative;
  height:660px;
  padding-bottom:100px; box-sizing:border-box;
}

.mxCont3>p{font-size:17px; line-height:2;}
.mxCont3>.mdImg1{
  top:-15%; left:-15%;
  transform: translate(15%,15%) scale(1.3);
  display: block;
  width:450px; height:300px;
  background:url(../img/mx_cont/conts4.png) no-repeat center;
  background-size:contain;
}
.mxCont3>.mdImg2{
  position:absolute;
  top:90%; left:90%;
  transform: translate(-90%,-90%) scale(1.3);
  display: block;
  width:450px; height:300px;
  background:url(../img/mx_cont/conts5.png) no-repeat center;
  background-size:contain;
}
.mdTxt1{
  position:absolute;
  right:25%; top:10%;
  transform: translateX(60%);
}
.mdTxt2{
  position:absolute;
  left:0; top:70%;
  transform: translateX(5%);
}
.mximg3{
  position:absolute;
  left:50%; top:13%;
  transform:translateX(-50%);
  width:150px; height:10px;
}
.mximg4{
  position:absolute;
  left:45%; top:80%;
  transform:translateX(-45%);
  width:150px; height:10px;
}

.ux{
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing:border-box;
  border-bottom:1px solid rgb(182, 182, 182);
}
.ux>.bigTitle{margin-bottom:10px;}
.ux>span{
  display: block;
  text-align:center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:25px;
  margin-bottom: 50px;
}

.persona1{
  width: 1200px; height:700px;
  margin-bottom: 80px;
  background:url(../img/persona/per1.png) no-repeat center;
  background-size:contain;
}
.persona2{
  width: 1200px; height:700px;
  margin-bottom: 80px;
  background:url(../img/persona/per2.png) no-repeat center;
  background-size:contain;
}

.contact{
  padding-top: 100px;
  padding-bottom: 100px; box-sizing:border-box;
  border-bottom:1px solid rgb(182, 182, 182);
}
.cont{width:300px; margin: 0 auto 50px auto;}
.contact_inner>p{
  text-align:center;
  line-height:2;
  font-size: 25px;
}
.contact_inner>p>span{
  font-family: cooper-black-std, serif;
}

footer{
  padding: 20px 0; box-sizing:border-box;
  background-color: #f1d4d4;
}
.ft_logo>a{
  display: block;
  width:150px; height:60px;
  margin:0 auto 20px;
  background:url(../img/logo/boram_ft_logo.png) no-repeat center;
  background-size:contain;
}

.footer_inner>p{
  text-align:center;
  font-size: 20px;
  margin: 0;
}

/* 컨셉서 */
/* jml */
.conWrap1{
  display: none;
  position:fixed;
  left: 0;top: 0; z-index:6;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,.7);
}
.con1Slides{
  overflow:hidden;
  position:absolute;
  left: 50%; top: 50%;
  transform:translate(-50%,-50%);
  width: 1200px; height:700px;
  background-color: transparent;
}

.con1Solide{
  position:absolute;
  left:0;
  display: flex;
  align-items:center;
  width:300%; height: 100%;
}
.con1Solide>a{
  display: block;
  width:100%; margin:0; height: 100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}
.con1Solide>a:first-child{background-image:url(../img/concept/jml/concept1.png);}
.con1Solide>a:nth-child(2){background-image:url(../img/concept/jml/concept2.png);}
.con1Solide>a:last-child{background-image:url(../img/concept/jml/concept3.png);}

.con1Allow{
  position:absolute;
  top: 50%; width: 100%;
  transform:translateY(-50%);
  display: flex;
  justify-content:space-between;
}
.con1Allow a{font-size:50px; color:transparent;}

.con1Allow a.hide{visibility:hidden;}

.con1Indicator{
  position:absolute;
  left: 50%; bottom:0;
  width: 100%;
  display: flex;
  justify-content:center;
  transform: translateX(-50%);
}
.con1Indicator>a{
  display: block;
  width: 100px; height:5px;
  margin-left: 30px;
  background-color: #D4ACAC;
}
.con1Indicator>a:first-child{margin-left: 0;}
.con1Indicator>a.active{background-color: #d33838;}

.con1Closse{
  position:absolute;
  width:70px; z-index:7;
  right:23%; top:18%;
}
.con1Closse>a{display: block; font-size:50px;color:#D4ACAC; text-align:center;}

/* mx */
.conWrap2{
  display: none;
  position:fixed;
  left: 0;top: 0; z-index:6;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,.7);
}
.con2Slides{
  overflow:hidden;
  position:absolute;
  left: 50%; top: 50%;
  transform:translate(-50%,-50%);
  width: 1200px; height:700px;
  background-color: transparent;
}

.con2Solide{
  position:absolute;
  left:0;
  display: flex;
  align-items:center;
  width:200%; height: 100%;
}
.con2Solide>a{
  display: block;
  width:100%; margin:0; height: 100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size:contain;
}
.con2Solide>a:first-child{background-image:url(../img/concept/mx/concept1.png);}
.con2Solide>a:last-child{background-image:url(../img/concept/mx/concept2.png);}

.con2Allow{
  position:absolute;
  top: 50%; width: 100%;
  transform:translateY(-50%);
  display: flex;
  justify-content:space-between;
}
.con2Allow a{font-size:50px; color:transparent;}

.con2Allow a.hide{visibility:hidden;}

.con2Indicator{
  position:absolute;
  left: 50%; bottom:0;
  width: 100%;
  display: flex;
  justify-content:center;
  transform: translateX(-50%);
}
.con2Indicator>a{
  display: block;
  width: 100px; height:5px;
  margin-left: 30px;
  background-color: #D4ACAC;
}
.con2Indicator>a:first-child{margin-left: 0;}
.con2Indicator>a.active{background-color: #d33838;}

.con2Closse{
  position:absolute;
  width:70px; z-index:7;
  right:23%; top:18%;
}
.con2Closse>a{display: block; font-size:50px;color:#D4ACAC; text-align:center;}



/* 반응형 */

@media (max-width:1180px){
#containner{min-width:100%;}
.inner{width: 90%;}
/* ABOUT */
.meWrap{padding: 0 100px;}
.Ability_title{padding-left: 100px;}
.abilityWrap{padding: 0 100px;}
/* PROJECT */
.jmlCont{
  justify-content: space-evenly;}
.img{
  left:45%; 
  transform:translateX(-45%);
}
.jmlCont2{justify-content: space-evenly;}
.img2{
  left:55%;
  transform:translateX(-55%);
}
.jmlCont3{justify-content: space-evenly;}

.mxContwrap>span{
  transform:translateX(770px);}
.mxContwrap>p{width: 95%;}

.mxCont3>p{font-size:17px; line-height:2;}
.mxCont3>.mdImg1{left:-5%;
  transform: translate(5%,15%) scale(1.1);}
.mxCont3>.mdImg2{left:90%; transform: translate(-90%,-90%) scale(1.1);}
.mdTxt1{right:30%;transform: translateX(55%)}
.mximg3{top:10%;}
/* UX */
.persona1{ width:1050px; height:700px; margin: 0 auto;}
.persona2{width:1050px; height:700px; margin: 0 auto;}

/* 컨셉서 */
/* JML */
.con1Slides{width: 1100px;}
.con1Allow a{font-size:40px;}
.con1Indicator{bottom:3%;}
.con1Closse{right:2%;}

/* MX */
.con2Slides{width:1100px;}
.con2Allow a{font-size:40px;}
.con2Indicator{bottom:3%;}
.con2Closse{right:2%;}

}

@media (max-width:960px){

  /* ABOUT */
  .meWrap{
    padding: 0 10px;
  }
  .Ability_title{
    padding-left:10px;
  }
  .abilityWrap{
    padding: 0 10px;
    justify-content:space-around;
  }
  .abilityInfor:nth-of-type(2)::before{
    left:-50px;
  }
  .abilityInfor:nth-of-type(2)::after{
    right:-50px;
  }
/* PROJECT */
/* JML */
.Infor>a{width:600px; height:500px;}
.inforBtn a{width:100px;}

.jmlContwrap>p{font-size:14px;}
.none{display:block;}

.jmlCont>p{font-size:14px;}
.jmlCont>a{width:450px;}
.img{width:120px;}

.jmlCont2>p{font-size:14px;}
.jmlCont2>a{width:500px;}
.img2{width:120px;}

.jmlCont3>p{font-size:14px;}
.jmlCont3>a{width:460px;}
.img3{top:40%; width:120px;}

/* MX */
.Infor2>a{width:600px; height:500px;}
.inforBtn2 a{width:100px;}

.mxContwrap>span{transform:translateX(570px); }
.mxContwrap>p{font-size:14px; padding-right: 10px; box-sizing:border-box;}

.mxCont1{justify-content: space-around;}
.mxCont1>p{font-size:14px;}
.mxCont1>a{width:450px;}
.mximg1{top:24%; width:120px;}

.mxCont2{justify-content: space-around;}
.mxCont2>p{font-size:14px;}
.mxCont2>a{width:430px;}
.mximg2{width:120px;}

.mxCont3{
  position: relative;
  height:660px;
  padding-bottom:100px; box-sizing:border-box;
}

.mxCont3>p{font-size:14px;}
.mxCont3>.mdImg1{left:0;
  transform: translate(0,15%) scale(1);}
.mxCont3>.mdImg2{left:100%;
  transform: translate(-100%,-90%) scale(1);}
.mdTxt2{transform: translateX(0%);}
.mximg3{top:10%;width:120px;}
.mximg4{top:77%;width:120px;}

/* UX */
.persona1,.persona2{width:850px; height: 600px;}

/* 컨셉서 */
/* JML */
.con1Slides{width:900px;}
.con1Indicator{bottom:10%;}
.con1Closse{right:0; top:22%;}

/* MX */
.con2Slides{width:900px;}
.con2Indicator{bottom:10%;}
.con2Closse{right:0;top:22%;}

}
@media (max-width:768px){
.inner{width: 100%;}

.bigTitle{font-size:32px;}

/* ABOUT */
  .meWrap{
  padding: 0 20px;
}
.me a{width: 200px; height:270px;}
.metxt{
  font-size:15px;
}
.me2txt{
  display: none;
  text-align: center;
  font-size:15px;
  font-weight:normal;
}
.me2txt p:first-child{font-size:17px;}
.me2txt p:last-child{font-size:14px;}

.Ability_title{padding-left:30px; font-size:22px;}
.abilityWrap{padding: 0 20px;}
.abilityInfor span{font-size:19px;}
.abilityInfor:nth-of-type(2)::before{left:-40px;}
.abilityInfor:nth-of-type(2)::after{right:-40px;} 
.inforImg{width:200px;}

/* PROJECT */
/* JML */
.Infor>a{width:500px; height:400px;}
.inforBtn a{width:100px;}
.jmlContwrap{font-size: 22px;}
.jmlContwrap>p{font-size: 14px;}


.jmlCont>p{font-size:13px;}
.jmlCont>a{width:380px;}
.img{width:100px;}

.jmlCont2>p{font-size:13px;}
.jmlCont2>a{width:400px;}
.img2{top:25%;width:100px;}

.jmlCont3>p{font-size:13px;}
.jmlCont3>a{width:380px;}
.img3{top:40%; width:100px;}

/* MX */
.Infor2>a{width:500px; height:400px;}
.inforBtn2 a{width:100px;}

.mxContwrap>span{transform:translateX(480px); }
.mxContwrap>p{font-size:13px; padding-right: 10px; box-sizing:border-box;}

.mxCont1{justify-content: space-around;}
.mxCont1>p{font-size:13px;}
.mxCont1>a{width:400px;}
.mximg1{top:24%; width:120px;}

.mxCont2{justify-content: space-around;}
.mxCont2>p{font-size:13px;}
.mxCont2>a{width:400px;}
.mximg2{width:120px;}

.mxCont3{
  position: relative;
  height:660px;
  padding-bottom:100px; box-sizing:border-box;
}

.mxCont3>p{font-size:13px;}
.mxCont3>.mdImg1{left:0; width: 400px; transform: translate(0,15%) scale(1);}
.mxCont3>.mdImg2{left:100%; width: 400px; 
  transform: translate(-100%,-90%) scale(1);}
.mdTxt1{
  right:25%; top:15%;
  transform: translateX(60%);
}
.mdTxt2{
  left:7%; top:60%;
  transform: translateX(-7%);
}
.mximg3{
  left:53%;
  transform:translateX(-53%);
  top:30%;width:120px;}
.mximg4{top:65%;width:120px;}

/* UX */
.persona1,.persona2{width:750px; height: 500px;}

/* CONTACT */
.cont{width:250px;}
.contact_inner>p{font-size:20px;}

/* FOOTER */

.ft_logo>a{width:120px;}

.footer_inner>p{
  text-align:center;
  font-size:18px;
  margin: 0;
}
}

@media (max-width:486px){
.meWrap{
  flex-direction: column;
  height:500px;
}
.metxt{
  font-size:15px;
}
.me2txt p:first-child{font-size:15px;}
.me2txt p:last-child{font-size:12px;}

.Ability_title{font-size:20px; text-align:center;padding:80px 0 0;}
.abilityWrap{
  flex-direction:column;
  padding: 0 20px;
}

.abilityInfor{
  margin: 0 auto;
  margin-bottom:50px;
}
.abilityInfor:nth-of-type(3){width: 250px;}
.abilityInfor span{font-size:19px;}
.abilityInfor:nth-of-type(2)::before{
  left:30%; top: -10%;
  transform: translateX(-30%);
  width:250px; height:1px;
}
.abilityInfor:nth-of-type(2)::after{
  left:30%;top:110%;
  transform: translateX(-30%); 
  width:250px; height:1px;}
.inforImg{width:250px;}

/* PROJECT */
.project{padding: 100px 0 300px;}
/* JML */
.Infor{
  flex-direction:column;
  padding-bottom: 50px; box-sizing:border-box;
  }
.Infor>a{width:400px; height:300px;}
.inforBtn a{width:120px;}
.jmlContwrap{font-size:20px;}
.jmlContwrap>p{font-size:11px;}

.jmlCont{flex-direction:column-reverse;}
.jmlCont>p{
  padding-top: 30px; box-sizing:border-box;
  border-top:1px solid #f3abab;
  font-size:13px;}
.jmlCont>a{width:400px; height:180px;}
.img{display: none;}

.jmlCont2{flex-direction:column;}
.jmlCont2>p{
  padding-top: 30px; box-sizing:border-box;
  border-top:1px solid #f3abab;
  font-size:13px;
}
.jmlCont2>a{width:400px; height: 200px;}
.img2{display: none;}

.jmlCont3{flex-direction:column-reverse;}
.jmlCont3>p{
  padding-top: 30px; box-sizing:border-box;
  border-top:1px solid #f3abab;
  font-size:13px;
}
.jmlCont3>a{width:400px; height: 200px;}
.img3{display: none;}

/* MX */
.Infor2{
flex-direction: column-reverse;
}
.Infor2>a{width:400px; height:300px;}
.inforBtn2 a{width:120px;}

.mxContwrap>span{transform:translateX(210px);}
.mxContwrap>p{font-size:11px; padding-right: 10px; box-sizing:border-box;}
.W486{display:block;}

.mxCont1{flex-direction:column;}
.mxCont1>p{
  padding-top: 30px; box-sizing:border-box;
  border-top:1px solid #f3abab;
  font-size:13px;
}
.mxCont1>a{width:400px; height:180px;}
.mximg1{display: none;}

.mxCont2{flex-direction:column-reverse;}
.mxCont2{justify-content: space-around;}
.mxCont2>p{
  padding-top: 30px; box-sizing:border-box;
  border-top:1px solid #f3abab;
  font-size:13px;
}

.mxCont2>a{width:400px;height:200px;}
.mximg2{display: none;}

.mxCont3{
  position: relative;
  height:660px;
  padding-bottom:100px; box-sizing:border-box;
}
.mxCont3>p{
  padding-top: 30px; box-sizing:border-box;
  border-top:1px solid #f3abab;
  font-size:13px;
}
.mxCont3>.mdImg1{
  left:0; width: 400px; margin: 0 auto;
  transform: translate(0,0) scale(1);}
.mxCont3>.mdImg2{
  left:50%; top: 130%; width: 400px;
  transform: translate(-50%,-130%) scale(1);}
.none{display: none;}
.mdTxt1{
  left:50%; top:45%;
  width: 350px;
  transform: translateX(-50%);
}
.mdTxt2{
  left:50%; top:140%;
  width: 350px;
  transform: translate(-50%,-140%);
}
.mximg3,.mximg4{display: none;}

/* UX */
.persona1,.persona2{width:450px; height: 300px;}

/* CONTACT */
.cont{width:200px;}
.contact_inner>p{font-size:18px;}

/* FOOTER */
.ft_logo>a{width:100px;}
.footer_inner>p{font-size:15px;}




}